<p>cart works!</p>
<div>
   <table border="2">
       <th>product</th>
     <th>price</th>
     <th>quantity</th>
     <tr>
         <td>Rice</td>
         <td>{{riceprice}}</td>
         <td>{{riceq}}</td>
     </tr>
     <tr>
        <td>Sugar</td>
        <td>{{sugarprice}}</td>
      <td>{{sugarq}}</td>
    </tr>
    <tr>
        <td>wheat</td>
        <td>{{appleprice}}</td>
      <td>{{appleq}}</td>
    </tr>
    <tr>
        <td>totalprice</td>
        <td rowspan="2">{{total}}</td>

    </tr>
   </table>
   
</div>