.red{
    color: red;
}
.disable{
    display: none;
}
.visible{
    display: block;
}
.product{
    display: flex;
    
}
.rice img{
    width: 300px;
    height: 300px;
   margin: 0px 0px 0px 50px;
}
.sugar img{
    width: 250px;
    height: 300px;
    margin: 0px 0px 0px 60px;
}
.wheat img{
    width: 300px;
    height: 300px;
    margin: 0px 0px 0px 50px;
}
.product div{
    width: 33.33%;
    padding:10px;
    border: 2px solid #1d2a30;
}
.product div button{
background-color:#203239;
color: white;
border: 1px solid #203239;
border-radius: 3px;
 margin: 5px 0px 0px 150px;
 padding: 5px;
}