<div class="container">
    <h1>observable</h1>
    <form>
        <div class="form-group">
            <label for="id">id:</label>
            <input type="number" id="id"  class="form-control" name="id" [(ngModel)]="id">

        </div>
        <div class="form-group">
            <label for="lname">last name:</label>
            <input type="text"  id="lname" class="form-control" name="lname" [(ngModel)]="lname">
        </div>
        <div class="form-group">
            <label for="fname">firstname:</label>
            <input type="text"  id="fname" class="form-control" name="fname" [(ngModel)]="fname">
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="email" id="email" class="form-control" name="email" [(ngModel)]="email">
        </div><br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" (click)="onsubmit()">
            
        </div>
    </form>
</div>
<app-reactive-address-form></app-reactive-address-form>
